import React from "react";

type {{pascalCase name}}Props = {
  className?: string;
};

export function {{pascalCase name}}({ className }:{{pascalCase name}}Props): React.JSX.Element {
  return (
    <h1 className={className}>{{pascalCase name}}</h1>
  );
}
